.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(133, 77, 128);
  border-color: rgb(133, 77, 128) ;
}

.btn_2 {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  color: rgb(133, 77, 128);
  border-color: rgb(133, 77, 128) ;
  padding-bottom: 40px;
  padding-top: 70px;
}
