.card_container {
  display: flex;
  margin: 30px;
}

.card {
  align-items: space-between;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  background-color: rgb(219, 206, 206);
  padding: 2px 16px;
  margin: auto;
  font-family: $h1-font;
  color: rgb(133, 77, 128);
}


.card_bookmark {
  align-items: space-between;
  justify-content: space-between;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 400px;
  background-color: #f5f5f5;
  padding: 2px 16px;
  margin: auto;
}
